@font-face {
    font-family: 'pretendard-medium';
    src: url('../font/Pretendard-Medium.woff2') format('woff2');
    font-style: normal;
  }
  @font-face {
    font-family: 'pretendard';
    src: url('../font/Pretendard-Light.woff2') format('woff2');
    font-weight: 100; 
    font-style: normal;
  }
  @font-face {
    font-family: 'helvetica';
    src: url('../font/Helvetica.ttf') format('truetype');
    font-style: normal;
  }

  @font-face {
    font-family: 'pixelOperator';
    src: url('../font/PixelOperator.ttf') format('truetype');
    font-style: normal;
  }
  @font-face {
    font-family: 'kenoky';
    src: url('../font/KENOKY-Light.ttf') format('truetype');
    font-style: normal;
  }
  @font-face {
    font-family: 'alliance';
    src: url('../font/Degarism\ Studio\ -\ Alliance\ No.1\ Light.otf') format('opentype');
    font-style: normal;
  }
/* 스타일 */
html{
    font-size: 16px;
}
body{
    display: flex;
    align-items: center;
    /* background-color: #F2F1EE; */
    cursor: none;
}
#wrap{
    min-height: 50%;
    width: 100%;
    height:fit-content;

}
*{
    margin: 0;
    padding: 0;
    font-family: 'pretendard', 'san-serif';
    box-sizing: border-box;
    word-break: keep-all;
    color: #212121;
    letter-spacing: -1px;
    cursor: none;
}

a{
    text-decoration: none;
    color: #212121;
}
li{
    list-style: none;
}
::selection{
    background-color: #f6ffc5;
}

/* 메인 */
/* 헤더 */
header{
    width: 100vw;
    height: 5.2vw;
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* backdrop-filter: blur(100px); */
    background: linear-gradient(
        to bottom, #fcffef, rgba(0,0,0,0) 80%
    );
}
nav{
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
    position: absolute;
}
.gnb{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

}
.gnb li{
    height: 1.01vw;
    overflow: hidden;
    float: left;
    margin-right: 0.5rem;
}
.gnb-c{
    margin-right: 0 !important;
}
.gnb li a{
    font-family: 'guton';
    font-size: 1vw;
    line-height: 1;
    display: inline-block;
    transition: transform 0.5s ease;
}
.copy{
    font-family: 'guton';
    font-size: 1vw;
    display: block;
    transition: 0.5s;
    text-decoration: underline;
}
.gnb li:hover a,
.gnb li:hover .copy{
    transform: translateY(-1vw);
    transition: transform 0.3s ease;
}
.logo{
    width: fit-content;
    position: absolute;
    left: 2.5rem;
    height: 1.01vw;
    overflow: hidden;
    font-weight: 100;
}
.logo a{
    font-family: 'guton';
    font-size: 1vw;
    line-height: 1;
    display: inline-block;
    transition: transform 0.5s ease;
}
.logo:hover a,
.logo:hover .copy{
    transform: translateY(-1vw);
    transition: transform 0.3s ease;
}
.go-q{
    position: absolute;
    height: 1vw;
    overflow: hidden;
    right: 2.5rem;
}
.go-q p{
    font-family: 'guton';
    font-size: 1vw;
    line-height: 1vw;
    transform: translate(0);
    transition: transform 0.3s ease;
}
.copy2{
    font-family: 'guton';
    font-size: 1vw;
    display: block;
    text-align: center;
}
.go-q:hover *{
    transform: translateY(-1.2vw);
    transition: transform 0.3s ease;
}


/* 메인 */
main{
    width: calc(100% - 5rem);
    height: 800px;
    margin: 6.2vw 2.5rem 0 2.5rem;
    position: relative;
    display: flex;
}

.img-wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 50%;
    width: calc(100% - 300px);
    gap: 20px;
    margin: auto;
    position: relative;
}
.img-wrap > div{
    box-shadow: 0 4px 8px #d8d8d8;
    grid-column: span 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    will-change: transform;
}
.img-box-1{
    transform: translateY(70px);
}
.img-box-2{
    transform: translateY(-40px);
}
.img-box-3{
    transform: translateY(30px);
}
.img-box-4{
    transform: translateY(-30px);
}
 .box-txt{
    /* background:rgba(255,255,255,1); */
    backdrop-filter: blur(20px);
    /* mix-blend-mode: difference; */

    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3vw;
    align-items: center;
    justify-content: center;
    display: flex;
    will-change: transform;
    transform: translateY(3vw) translateZ(0);
    transition: 0.5s;
}
 .box-txt p{
    color: #ffffff;
    font-size: 1vw;
    font-family: 'pixelOperator';
    display: block;
    height: fit-content;
    letter-spacing: 0;
 }

.img-wrap > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    /* filter: grayscale(1); */
}

.img-zoom-bg{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 2;
}
.img-zoom-bg.active{
    display: block;
}
.img-zoom-box{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    display: flex;
    opacity: 0;
    flex-direction: column;
}
.img-zoom-box p{
    display: inline-block;
    margin: auto;
    color: rgba(255,255,255,0.8);
    font-size: 1vw;
    font-family: 'pixelOperator';
    letter-spacing: 0;
    margin-top: 1vw;
    animation: blink 2s infinite ease-in-out;
}
.img-zoom-box.active{
    opacity: 1;
}
.img-zoom-box img{
    width: fit-content;
    height: fit-content;
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
}

.zoom-4 div{
    display: flex;
    gap: 20px;
}

.img-wrap div:hover img{
    transform: scale(1.05);
    transition: 0.3s;
    filter: grayscale(0);
}
.img-wrap div:hover .overlay{
    opacity: 0;
    transition: 0.5s;
}
.img-wrap > div:hover .box-txt{
    transform: translateY(0);
    transition: 0.3s ease-in-out;
}

.dott-wrap{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0;
    z-index: -1;
}
.dott-box-1{
    position: absolute;
    width: 12vw;
    height: 12vw;
    bottom: 0;
    right: 0;
}
.dott-box-2{
    position: absolute;
    width: 20vw;
    height: 30vw;
    top: -30%;
    left: 0%;
    animation: floatUpDown 3s ease-in-out infinite;
}
.dott-box-3{
    position: absolute;
    width: 12vw;
    height: 8vw;
    top: 0%;
    right: 8%;
}
.dott-box-4{
    position: absolute;
    width: 16vw;
    height: 12vw;
    bottom: 0;
    left: 24%;
}
.dott-box-5{
    position: absolute;
    width: 10vw;
    height: 10vw;
    top: 5%;
    left: 54%;
    animation: floatUpDown 5s ease-in-out infinite;
}
.dott-wrap div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@keyframes floatUpDown{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(0.5vw);
    }
}
@keyframes blink{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
/* 푸터 */
footer{
    width: 100%;
    height: 10.42vw;
        background: linear-gradient(
        to top, #fcffef, #ffffff 80%
    );
}
hr{
    width: 90%;
    border: 0;
    height: 1px;
    background-color: #252121;
    margin: 0 auto;
    margin-bottom: 4vw;
}
.copyright{
    font-size: 0.83vw;
    white-space: pre-line;
    text-align: center;
    line-height: 2;
    color: #252121;
}

/* 마우스커서 */
.cursor-wrap{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
}
.cursor-inner{
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor{
    width: 1em;
    height: 1em;
    background-color: #033ab1;
    border-radius: 3em;
}