@font-face {
    font-family: 'pretendard-medium';
    src: url('../font/Pretendard-Medium.woff2') format('woff2');
    font-style: normal;
  }
  @font-face {
    font-family: 'pretendard';
    src: url('../font/Pretendard-Light.woff2') format('woff2');
    font-weight: 100; 
    font-style: normal;
  }
  @font-face {
    font-family: 'helvetica';
    src: url('../font/Helvetica.ttf') format('truetype');
    font-style: normal;
  }

  @font-face {
    font-family: 'guton';
    src: url('../font/Guton-Regular.otf') format('opentype');
    font-style: normal;
  }
  @font-face {
    font-family: 'kenoky';
    src: url('../font/KENOKY-Light.ttf') format('truetype');
    font-style: normal;
  }
  @font-face {
    font-family: 'alliance';
    src: url('../font/Degarism\ Studio\ -\ Alliance\ No.1\ Light.otf') format('opentype');
    font-style: normal;
  }
    @font-face {
    font-family: 'pixelOperator';
    src: url('../font/PixelOperator.ttf') format('truetype');
    font-style: normal;
  }

/* 스타일 */
html{
    font-size: 16px;
}
body{
    display: flex;
    align-items: center;
    /* background-color: #F2F1EE; */
    cursor: none;
}
#wrap{
    min-height: 50%;
    width: 100%;
    height:100vh;

}
*{
    margin: 0;
    padding: 0;
    font-family: 'pretendard', 'san-serif';
    box-sizing: border-box;
    word-break: keep-all;
    color: #212121;
    letter-spacing: -1px;
    cursor: none;
}

a{
    text-decoration: none;
    color: #212121;
}
li{
    list-style: none;
}
::selection{
    background-color: #f6ffc5;
}

/* 메인 */
/* 헤더 */
header{
    width: 100%;
    height: 5.2vw;
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
        background: linear-gradient(
        to bottom, #fcffef, #ffffff 80%
    );
}
nav{
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
    position: absolute;
}
.gnb{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

}
.gnb li{
    height: 1.01vw;
    overflow: hidden;
    float: left;
    margin-right: 0.5rem;
}
.gnb-c{
    margin-right: 0 !important;
}
.gnb li a{
    font-family: 'guton';
    font-size: 1vw;
    line-height: 1;
    display: inline-block;
    transition: transform 0.5s ease;
}
.copy{
    font-family: 'guton';
    font-size: 1vw;
    display: block;
    transition: 0.5s;
    text-decoration: underline;
}
.gnb li:hover a,
.gnb li:hover .copy{
    transform: translateY(-1vw);
    transition: transform 0.3s ease;
}
.logo{
    width: fit-content;
    position: absolute;
    left: 2.5rem;
    height: 1.01vw;
    overflow: hidden;
    font-weight: 100;
}
.logo a{
    font-family: 'guton';
    font-size: 1vw;
    line-height: 1;
    display: inline-block;
    transition: transform 0.5s ease;
}
.logo:hover a,
.logo:hover .copy{
    transform: translateY(-1vw);
    transition: transform 0.3s ease;
}
.go-q{
    position: absolute;
    height: 1vw;
    overflow: hidden;
    right: 2.5rem;
}
.go-q p{
    font-family: 'guton';
    font-size: 1vw;
    line-height: 1vw;
    transform: translate(0);
    transition: transform 0.3s ease;
}
.copy2{
    font-family: 'guton';
    font-size: 1vw;
    display: block;
    text-align: center;
}
.go-q:hover *{
    transform: translateY(-1.2vw);
    transition: transform 0.3s ease;
}

/* 메인 */
main{
    width: 100%;
    height: 100%;
    display: flex;
}

.intro{
    font-family: 'kenoky';
    display: inline-block;
    position: absolute;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    top: 5.2vw;
    width: 100%;
    padding: 0 2.5rem;
}
.intro > div{
    width: fit-content;
    display: flex;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.5rem;
    height: max-content;
}
br{
    height: 0;
}
.line-2{
    margin-left: auto;
    margin-top: -6rem;
}
.line-3{
    color: transparent; 
    padding:  60px 50px;
    margin-top: -5rem;   
}
.line-3{
    background: radial-gradient(
    ellipse at center,
    #3473fa 0%,
    #ffffff 70%
    );
    padding:  60px 50px;
    margin-top: -5rem;   
}

/* 텍스트 슬라이드 */
.w {
    font-size: 10vw;
    line-height: 1;
    margin: 5px 0;
    white-space: pre;
    display: inline-block;
    float: left;
    letter-spacing: -15px;
    position: relative;
    width: fit-content;
    color: #ffffff;
    animation: wave 0.5s forwards;
    transform: translateY(120%); 
    text-shadow: 0 0 15px #3473fa;
}
.line-3 .w{
    text-shadow: 0 0 4px #cacaca;
}
.w i{
    font-family: 'kenoky';
    font-weight: 100;
    font-size: 12vw;
    letter-spacing: -10px;
    color: #ffffff;
    /* margin: 5px 0; */
}
.w[style*="--i: 9;"]{
    margin-right: 30px;
}
.w[style*="--i: 2;"]{
    letter-spacing: 0;
}
.w[style*="--i: 8;"]{
    height: 16.4vw;
}


.line-1 .w{
    animation-delay: calc(0s + var(--i) * 0.033s);
}
.line-2 .w{
    animation-delay: calc(0s + var(--i) * 0.022s);
}
.line-3 .w {
    animation-delay: calc(0s + var(--i) * 0.022s);
}
.line-3 .w{
    font-family: 'alliance';
    font-weight: 100;
    text-transform: uppercase;
    font-size: 11.4vw;
}
.copyright{
    float: left;
    margin-top: auto;
    margin-bottom: 30px;
    margin-left: 3rem;
    animation: wave 0.5s forwards;
    transform: translateY(100%);
}
.copyright p{
    font-size: 1.2vw;
    line-height: 0.3;
    white-space: pre-line;
    color: #8b8b8b;
    width: fit-content;
    padding: 10px 20px;
    font-weight: 100;
    font-family: 'pixelOperator';
}


/* 키프레임 */
@keyframes wave {
    0% { transform: translateY(150px); opacity: 0; }
    30%{ transform: translateY(125px); opacity: 1; }
    100% { transform: translateY(-2px); opacity: 1; }
}
@keyframes shake {
    0% {
        transform: translate(0);
    }
    10% {
        transform: translate(0, -10px) scaleX(0.8); 
    }
    20% {
        transform: translate(0, 0) scale(1.1, 0.8);
    }
    30% {
        transform: translate(0, -5px) scaleX(1); 
    }
    40% {
        transform: translate(0, 0) scale(1.1, 0.8); 
    }
    50% {
        transform: translate(0, -5px) scaleX(1); 
    }
    60% {
        transform: translate(0, 0) scale(1.1, 0.8); 
    }
    70% {
        transform: translate(0, 0) scale(1); 
    }
}

/* 마우스커서 */
.cursor-wrap{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
}
.cursor-inner{
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor{
    width: 1em;
    height: 1em;
    background-color: #033ab1;
    border-radius: 3em;
    
}