@font-face {
    font-family: 'pretendard-medium';
    src: url('../font/Pretendard-Medium.woff2') format('woff2');
    font-style: normal;
  }
  @font-face {
    font-family: 'pretendard';
    src: url('../font/Pretendard-Light.woff2') format('woff2');
    font-weight: 100; 
    font-style: normal;
  }
  @font-face {
    font-family: 'helvetica';
    src: url('../font/Helvetica.ttf') format('truetype');
    font-style: normal;
  }
  @font-face {
    font-family: 'helvetica-Bold';
    src: url('../font/Helvetica-Bold.ttf') format('truetype');
    font-style: normal;
  }
  .doto {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
  }


/* 스타일 */
html{
    font-size: 16px;
}
body{
    display: flex;
    align-items: center;
    animation: colorChange 10s ease infinite;
    background: linear-gradient(20deg, rgb(249, 241, 246) 10%, 
    rgb(246, 249, 241) 60%, rgb(241, 246, 249) 100%);
}

@keyframes colorChange{
    0%,100%{
        background-position: 20% 50%;
    }
    50%{
        background-position: 60% 50%;
    }

}
#wrap{
    min-height: 50%;
    width: 100%;
    height:100vh;
    transition: background-image 0.5s ease-in-out;

}
#bgVideo {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 비디오가 화면을 가득 채우도록 설정 */
    z-index: -5; /* 다른 요소 뒤에 배치 */
    transform: scaleY(-1);
    filter: hue-rotate(120deg) grayscale(30%);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'pretendard', 'san-serif';
    box-sizing: border-box;
    word-break: keep-all;
    color: #212121;
}

a{
    text-decoration: none;
    color: #212121;
}
li{
    list-style: none;
}
::selection{
    background-color: darksalmon;
}
/* 메인 */
/* 헤더 */
header{
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav{
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
    position: absolute;
}
.gnb{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

}
.gnb li{
    height: 1.01vw;
    overflow: hidden;
    float: left;
    margin-right: 2rem;
}
.gnb-c{
    margin-right: 0 !important;
}
.gnb li a{
    font-family: 'helvetica-Bold';
    font-size: 1vw;
    line-height: 1;
    display: inline-block;
    transition: transform 0.5s ease;
}
.copy{
    font-family: 'helvetica-Bold';
    font-size: 1vw;
    display: block;
    transition: 0.5s;
    text-decoration: underline;
}
.gnb li:hover a,
.gnb li:hover .copy{
    transform: translateY(-1.02vw);
    transition: transform 0.3s ease;
}
.logo{
    width: fit-content;
    position: absolute;
    left: 2.5rem;
    height: 1.01vw;
    overflow: hidden;
}
.logo a{
    font-family: 'helvetica-Bold';
    font-size: 1vw;
    line-height: 1;
    display: inline-block;
    transition: transform 0.5s ease;
}
.logo:hover a,
.logo:hover .copy{
    transform: translateY(-1.02vw);
    transition: transform 0.3s ease;
}
.go-q{
    position: absolute;
    height: 1.01vw;
    overflow: hidden;
    right: 2.5rem;
}
.go-q p{
    font-family: 'helvetica-Bold';
    font-size: 1vw;
    line-height: 1.01vw;
    transform: translate(0);
    transition: transform 0.3s ease;
}
.copy2{
    font-family: 'helvetica-Bold';
    font-size: 1vw;
    display: block;
    text-decoration: underline;
    text-align: center;
}
.go-q:hover *{
    transform: translateY(-1.25vw);
    transition: transform 0.3s ease;
}
/* 메인 */
main{
    width: 100%;
    height: 100%;
    display: flex;
}

h1{
    font-family: 'helvetica-Bold';
    font-weight: 900;
    display: inline-block;
    position: absolute;
    height: fit-content;
    top: 28%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    left: 30%;
}
h1 > div{
    width: fit-content;
    height: fit-content;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 7px 5px;
    margin-bottom: 0.5rem;
}
br{
    height: 0;
}
/* 텍스트 슬라이드 */
.w {
    font-family: 'helvetica';
    font-size: 6vw;
    line-height: 1;
    /* margin: 5px 0; */
    font-weight: 100;
    white-space: pre;
    display: inline-block;
    transform: translateY(100%); 
    float: left;
    animation: wave 0.5s forwards;
    text-transform: uppercase;
    cursor: default;
    letter-spacing: -4px;
    text-shadow: 0 0 10px #fff;
}
.w img{
    width: 6.5vw;
    margin-left: 2px;
    transition: 0.3s;
    cursor: pointer;
}
.w img:hover{
    filter: hue-rotate(-20deg);
}
.space{
    font-family: 'helvetica';
    font-size: 6vw;
    line-height: 1;
    font-weight: 100;
    white-space: pre;
    display: inline-block;
    transform: translateY(100%); 
    float: left;
    animation: wave 0.5s forwards;
    cursor: default;
    
}

.line-1 .w {
    animation-delay: calc(0s + var(--i) * 0.033s);
}
.line-2 .w {
    animation-delay: calc(0s + var(--i) * 0.022s);
}
.line-3 .w {
    animation-delay: calc(0s + var(--i) * 0.022s);
}
.line-3 .w i{
    font-family: "Doto", sans-serif;
    font-weight: 600;
}
.line-3{
}

/* .w:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transform: scale(1.05) !important;
} */
.bgc{
    color: #ffffff;
    background-color: #212121;
    border-radius: 20px;
}
.bgc:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transform: scale(1.2) !important;
}

/* 컨택 박스 */
.me-box{
    width: 17%;
    height: 8%;
    position: absolute;
    bottom: 2.5rem;
    right: 2.5rem;
}
.me-box > img{
    width: 3vw;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: scaleX(-1);
    cursor: pointer;
    animation: rotate 8s linear infinite;
}
.me-box > img:hover{
    animation-play-state: paused;
}
/* .me-box > span{
    background-color: rgba(255, 255, 255, 0.7);
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 50%;
    position: absolute;
    top: 55%;
    right: 0;
    animation: shake infinite alternate 2s;
} */
@keyframes rotate {
    0% {
      transform: rotate(0deg);  /* 시작 시점 */
    }
    100% {
      transform: rotate(360deg);  /* 360도 회전 */
    }
  }

.me-box .contact{
    background: rgba(93, 104, 110, 0.05);
    width: 13vw;
    height: 4.2vw;
    /* border-radius:  10px 0 10px 10px; */
    left: 0;
    top:0;
    padding: 0.8vw 1vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    transition: 0.45s ease;
    transform-origin: top right;
    cursor: default;
    transform: scale(0);
    opacity: 0;
}
/* .me-box:hover span{
    transform: scale(0.8);
    animation: none;
} */

.adress{
    display: flex;
    align-items: center;
    line-height: 1;
}
.adress img{
    float: left;
    margin-right: 0.5vw;
    width: 1.3vw;
    filter: invert(1);
}
/* .contact h3{
    font-family: 'pretendard';
    font-weight: 600;
    font-size: 0.9vw;
    margin-bottom: 0.3vw;
} */


.adress p{
    display: inline-block;
    float: left;
    font-size: 0.8vw;
    font-family: 'pretendard';
    font-weight: 100;
}


h4{
    bottom: 2.5rem;
    left: 2.5rem;
    position: absolute;
    writing-mode: vertical-rl;
    font-family: 'pretendard';
    font-weight: 600;
    font-size: 1.5vw;
}
/* 키프레임 */
@keyframes wave {
    0% { transform: translateY(100px); opacity: 0; }
    30%{ transform: translateY(105px); opacity: 1; }
    100% { transform: translateY(-2px); opacity: 1; }
}
@keyframes shake {
    0% {
        transform: translate(0);
    }
    10% {
        transform: translate(0, -10px) scaleX(0.8); 
    }
    20% {
        transform: translate(0, 0) scale(1.1, 0.8);
    }
    30% {
        transform: translate(0, -5px) scaleX(1); 
    }
    40% {
        transform: translate(0, 0) scale(1.1, 0.8); 
    }
    50% {
        transform: translate(0, -5px) scaleX(1); 
    }
    60% {
        transform: translate(0, 0) scale(1.1, 0.8); 
    }
    70% {
        transform: translate(0, 0) scale(1); 
    }
}