@font-face {
    font-family: 'pretendard-medium';
    src: url('../font/Pretendard-Medium.woff2') format('woff2');
    font-style: normal;
  }
  @font-face {
    font-family: 'pretendard';
    src: url('../font/Pretendard-Light.woff2') format('woff2');
    font-weight: 100; 
    font-style: normal;
  }
  @font-face {
    font-family: 'NeueFreigeistTest-Light';
    src: url('../font/NeueFreigeistTest-Light.otf') format('opentype');
    font-style: normal;
    font-weight: 100;
  }
  @font-face {
    font-family: 'NeueFreigeistTest-Medium';
    src: url('../font/NeueFreigeistTest-Medium.otf') format('opentype');
    font-style: normal;
  }
  @font-face {
    font-family: 'NeueFreigeistTest-SemiBold';
    src: url('../font/NeueFreigeistTest-SemiBold.otf') format('opentype');
    font-style: normal;
  }
  @font-face {
    font-family: 'neoDunggeunmo';
    src: url('../font/NeoDunggeunmoPro-Regular.ttf') format('opentype');
    font-style: normal;
    font-weight: 100;
  }



/* 스타일 */
html{
    font-size: 1vw;
}
body{
    background-image: url(../img/bg.jpg);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'pretendard', 'san-serif';
    box-sizing: border-box;
    word-break: keep-all;
    color: #212121;
}

a{
    text-decoration: none;
    color: #212121;
}
li{
    list-style: none;
}

/* 메인 */
#wrap{
    width: 100%;
    height: 100vh;
    position: relative;
}
/* 헤더 */
header{
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 3;
}
.gnb{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 40px;
    position: relative;
}
.gnb li{
    position: absolute;
    height: 1.01vw;
    overflow: hidden;
}
.gnb-a{
    left: 2.5rem;
}
.gnb-b{
    right: 8rem;
}
.gnb-c{
    right: 2.5rem;
}
.gnb li a{
    font-family: 'NeueFreigeistTest-SemiBold';
    font-size: 1vw;
    line-height: 1;
    display: inline-block;
    transition: transform 0.5s ease;
}
.copy{
    font-family: 'NeueFreigeistTest-SemiBold';
    font-size: 1vw;
    display: block;
    transition: 0.5s;
}

.gnb li:hover a,
.gnb li:hover .copy{
    transform: translateY(-1.01vw);
    transition: transform 0.3s ease;
}


/* 메인 */
main{
    width: 100%;
    height: 100vh;
    position: relative;
}
.main-txt{}
    /* width: fit-content;
    height: fit-content;
    display: block;
    position: absolute;
    top: 8rem;
    left: 8rem;
} */
h1{
    font-family: 'NeueFreigeistTest-Light';
    line-height: 1;
    font-weight: 100;
    display: inline-block;
    position: absolute;
    height: fit-content;
    top: 7.5rem;
    left: 8rem;
    width: fit-content;
}
h1 > div{
    width: fit-content;
    height: fit-content;
    display: inline-block;
    position: relative;
    overflow: hidden;
    /* animation: fadeInUp 0.5s forwards; */
}
/* @keyframes fadeInUp {
    0% { opacity: 0; }
    100% { opacity: 1; }
} */
/* 텍스트 슬라이드 */
.w {
    font-family: 'NeueFreigeistTest-Light';
    font-size: 5.2vw;
    line-height: 1;
    font-weight: 100;
    white-space: pre;
    display: inline-block;
    transform: translateY(100%); 
    float: left;
    animation: wave 0.5s forwards;
}
.line-1{
    height: fit-content;
}
.line-2{
    height: fit-content;
    left: 17rem;
}
.line-3{
    height: fit-content;
    left: 10rem;
}

.line-1 .w {
    animation-delay: calc(0s + var(--i) * 0.033s);
}
.line-2 .w {
    animation-delay: calc(0.3s + var(--i) * 0.022s);
}
.line-3 .w {
    animation-delay: calc(0.5s + var(--i) * 0.011s);
}
  
h1 .and{
    font-family: 'pretendard';
}

@keyframes slideUp {
    from {
        transform: translateY(100%); /* 아래 위치 */
    }
    to {
        transform: translateY(0%); /* 원래 위치 */
    }
}
@keyframes wave {
    0% { transform: translateY(60px); opacity: 0; }
    100% { transform: translateY(-2px); opacity: 1; }
}
/* 컨택 박스 */
.me-box{
    width: 22%;
    height: 30%;
    position: absolute;
    top: 27rem;
    left: 27%;
    cursor: pointer;
}
.me-box > img{
    width: 9vw;
    position: absolute;
    right: 0;
    top: 17%;
}
.me-box > span{
    background-color: #239DAA;
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 60%;
    animation: shake infinite alternate 2s;
    transition: transform 1s;
}
@keyframes shake {
    0% {
        transform: translate(0);
    }
    10% {
        transform: translate(0, -10px) scaleX(0.8); 
    }
    20% {
        transform: translate(0, 0) scale(1.1, 0.8);
    }
    30% {
        transform: translate(0, -5px) scaleX(0.9); 
    }
    40% {
        transform: translate(0, 0) scale(1.1, 0.8); 
    }
    50% {
        transform: translate(0, -5px) scaleX(0.9); 
    }
    60% {
        transform: translate(0, 0) scale(1.1, 0.8); 
    }
    70% {
        transform: translate(0, 0) scale(1); 
    }
}
.me-box .contact{
    background-color: #239DAA;
    width: 13vw;
    height: 5.5vw;
    border-radius: calc(5vw / 10);
    top: 33%;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0.4vw 1vw;
    line-height: 1.5;
    transition: 0.45s ease;
    transform: scale(0);
    transform-origin: top right;
    opacity: 0;
    cursor: default;
}
.me-box:hover .contact{
    transform: scale(1);
    opacity: 1;
}
.me-box:hover span{
    animation: none;
    transform: scale(0.8);
}
.adress{
    display: flex;
    align-items: center;
    line-height: 1;
}
.adress img{
    float: left;
    margin-right: 0.5vw;
    width: 1.3vw;
}
.contact h3{
    color: #ffffff;
    font-family: 'neoDunggeunmo';
    font-weight: 100;
}
.adress p{
    display: inline-block;
    float: left;
    font-size: 0.9vw;
    color: #ffffff;
    font-family: 'neoDunggeunmo';
    font-weight: 100;
}

/* 바로가기 */
.go-page{
    position: absolute;
    left: 73em;
    top: 26.8rem;
}

.page-nav{

}
.page-nav li{
    margin-bottom: 1em;

}
.page-nav li a{
    display: inline-block;
    padding: 0.7vw 1.1vw;
    background-color: rgba(255, 255, 255, 0.65);
    /* border: 1px solid #3e3e3e; */
    box-shadow: 5px 5px 5px -5px #888888;
    border-radius: 10px;
    font-size: 1vw;
    font-family: 'pretendard-medium';
    display: flex;
    align-items: center;
    width: fit-content;
}
.page-nav li a > img{
    float: left;
    margin-right: 0.5vw;
    width: 1.8vw;
    height: 1.8vw;
    display: none;
}
.page-nav li a:hover{
    border-radius: 50px;
    background-color: #D84B2B;
    padding: 0.4vw 1.1vw 0.4vw 0.6vw;
    color: #ffffff;
}
.page-nav li a:hover img{
    display: block;
}
.go-q{
    position: absolute;
    left: 57rem;
    top: 27.5rem;
    height: 1.01vw;
    overflow: hidden;
}
.go-q p{
    font-family: 'NeueFreigeistTest-Medium';
    font-size: 1vw;
    line-height: 1.01vw;
    transform: translate(0);
    transition: transform 0.3s ease;
}
.copy2{
    font-family: 'NeueFreigeistTest-SemiBold';
    font-size: 1vw;
    display: block;
    text-decoration: underline;
}
.go-q:hover *{
    transform: translateY(-1.25vw);
    transition: transform 0.3s ease;
}